.order {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 5px 5px 5px var(--gray);
}

.order-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 30px;
}

.icon {
  color: var(--primary);
  margin-left: 20px;
}

.name-order,
.day-order,
.address,
.price-order {
  color: var(--text-color);
  margin-left: auto;
}

.address {
  max-width: 200px;
  overflow: auto;
}

.price-order {
  padding-right: 30px;
  color: var(--primary);
}

.btn {
  margin-right: 20px;
}
.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background-color: aliceblue;
  margin: 12px 0;
  border-radius: 12px;
  box-shadow: 2px 2px 2px lavender;
  height: 90px;

  span:nth-child(2) {
    width: 300px;
  }
}
