.wrapper {
  padding: 10px 0;
}

.filters {
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.04);
}

.label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}

.book-list {
  padding: 0 15px;
  margin: 15px 0 0;
  background-color: var(--white);
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.select-input {
  position: relative;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  margin-right: 12px;
  border-radius: 2px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-input__label {
  font-size: 1.4rem;
}

.select-input__icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  position: relative;
  cursor: pointer;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  border-radius: 2px;
  background-color: var(--white);
  list-style: none;
  display: none;
  z-index: 1;
  box-shadow: 2px 2px 5px gray;
  max-height: 500px;
  overflow: auto;
}

.select-input__list::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  top: -4px;
  left: 0;
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__link {
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 8px 0;
  cursor: pointer;
}

.select-input__link:hover {
  color: var(--primary-color);
}

.select-input__item {
  padding: 8px 16px;
  &:hover {
    background-color: aliceblue;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 12px 0;
}

.pagination-item {
  margin: 0 12px;
  text-decoration: none;
  font-weight: 300;
  font-size: 2rem;
  color: #939393;
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    border-radius: 5px;
    background-color: var(--grey);
    color: var(--black);
  }
}

.pagination-item.active {
  background-color: var(--red);
  color: var(--white);
}
