.slide-bar {
  margin-top: -60px;
  margin-left: -120px;
  margin-right: -120px;

  img {
    width: 100%;
  }
}

.list-category {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.category {
  flex: 1;
  margin: 3px;
  height: 40vh;
  position: relative;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
}

.category-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: 600;
}

.category-btn {
  background-color: var(--red);
  border: none;
  padding: 10px;
  color: var(--white);
  cursor: pointer;
  font-weight: 600;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 1;
  margin: 5px;
  min-width: 16%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5fbfd;
  position: relative;

  &:hover .item-overlay {
    opacity: 1;
  }
}

.item-img {
  height: 75%;
  z-index: 2;
}

.item-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.item-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.1s ease;

  &:hover {
    color: var(--red);
    background-color: #e9f5f5;
    transform: scale(1.1);
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn {
  color: var(--white);
  background-color: var(--red);
}
