.slide-bar {
  margin-top: -60px;
  margin-left: -120px;
  margin-right: -120px;

  img {
    width: 100%;
  }
}

.list-category {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  overflow-x: auto;
}

.category {
  flex: 1;
  margin: 3px;
  height: 40vh;
  position: relative;
  min-width: 200px;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
}

.category-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: 600;
}

.category-btn {
  background-color: var(--red);
  border: none;
  padding: 10px;
  color: var(--white);
  cursor: pointer;
  font-weight: 600;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 1;
  margin: 5px;
  min-width: 16%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5fbfd;
  position: relative;

  &:hover .item-overlay {
    opacity: 1;
  }
}

.item-img {
  height: 75%;
  z-index: 2;
}

.item-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.item-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.1s ease;

  &:hover {
    color: var(--red);
    background-color: #e9f5f5;
    transform: scale(1.1);
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn {
  color: var(--white);
  background-color: var(--red);
}

.custom-button-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px 60px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  color: #4f46e5; /* Adjust text color as needed */
  border: 2px solid #4f46e5; /* Adjust border color as needed */
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
  color: #fff; /* Adjust text color on hover as needed */
  background-color: #d1d5db; /* Adjust background color on hover as needed */
}

.bg-transition {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  background-color: #4f46e5; /* Adjust background color as needed */
  opacity: 1;
  transition: height 0.4s, top 0.4s, opacity 0.4s;
}

.custom-button:hover .bg-transition {
  height: 100%;
  top: 0;
  opacity: 1;
}

.icon-transition {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.custom-button:hover .icon-transition {
  transform: translateX(0);
}

.button-text {
  position: relative;
  z-index: 2;
}
