.container {
  padding: 12px;
  padding-right: 50px;
  flex: 1 1;
  padding-left: 12px;
  padding-top: 12px;
  background-color: #f5f5fb;
  max-height: 100vh;
  overflow-y: auto;
}

.header {
  font-size: 3.6rem;
  font-weight: 500;
  color: var(--black);
}

//
.wrapper {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid var(--text-color);
}

.content-center {
  margin-left: 20px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-price {
  color: var(--primary);
  font-size: 1.8rem;
}

.book-date,
.book-paymethod,
.book-address {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
  max-width: 700px;
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.status {
  color: var(--blue);
}

.icon,
.icon1 {
  margin: 0 12px;
}

.icon1,
.status-name1 {
  color: var(--primary);
}

.options {
  display: flex;
  justify-content: space-between;
}

.btn + .btn {
  margin-left: 12px;
}
